.cardWrapper {
  display: flex;
}
.card {
  max-width: 25%;
  width: 100%;
  padding: 0 8px;
  .imageholder {
    display: flex;
    height: 250px;
    object-fit: cover;
    img {
      width: 100%;
    }
  }
}