.formSubscribe {
  padding: 40px 0;
  max-width: 600px;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
  input {
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    //border-radius: 35px;
    padding: 15px 18px;
    border:none;
    border-bottom:1px solid #fff;
    &::placeholder{
      color: #fff;
      opacity: 1;
    }
  }
}

.btnHolder {
  padding-top: 20px;

  .btnPrimary {
      padding: 10px;
  }
}