.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.footer {
  padding: 15px 0;
  background: linear-gradient(25deg, #282731 20%, #8c93cf 55%, #303f42 100%);
}
.logo {
  max-width: 150px;
display: flex;
}
img {
  width: 100%;
}
.footer  .container{
  display: flex;
}
.footerList {
  margin-left: auto;
  display: flex;
  list-style: none;
  padding: 0;
}
.footerList li{
  margin-right: 15px;
}
.footerList li:last-child{
  margin-right: 0;
}
.footerList a{
  transition: all .3s ease;
  color: #ffe300;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
.footerList a:hover {
  color: aqua;
}